html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.w-text {
  color: #ffffff;
}

body {
  background-color: #222222;
}

.main-image {
  height: 78vh;
  width: 100%;
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}

.marvel-logo {
  max-width: 600px;
  height: 290px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 55%;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.cards-container {
  margin: 0 auto;
  margin-top: 200px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 105px;
  position: relative;
  justify-content: space-between;
}

.card-container {
  position: relative;
  width: 252px;
  min-width: 252px;
  min-height: 369px;
  max-height: 369px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.cards-container .card-container:hover{
  cursor: pointer;
}
.card-image {
  width: 216px;
  height: 324px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-horizontal-rule {
  position: absolute;
  width: 216px;
  height: 1px;
  background: #ffffff;
  top: -40px;
}

.card-text {
  font-size: 18px;
  font-family: "Roboto", sans-serif !important;
  line-height: 21px;
  margin-bottom: 1.5rem;
}

.nav-wrapper {
  display: flex;
  justify-content: end;

  position: absolute;
  left: 54.5%;
}

.navigation-container {
  width: 648px;
  height: 72px;
  display: flex;
  gap: 18px;
  margin-top: 110px;
  margin-bottom: 234px;
}

.arrow {
  width: 32.4px;
  height: 32.4px;
  margin-top: 20px;
  user-select: none;
}
.arrow:hover{
  cursor: pointer;
}

.number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #7e7e7e;
  position: relative;
  padding: 1rem 1rem;
}

.number:hover{
  cursor: pointer;
}

.active-number {
  background: #7e7e7e;
  border-radius: 10px;
  color: #000000;
}
.my-2{
  margin: 1rem 0;
}

.search-input-label{
  color: #FFFFFF;
  margin-bottom: 2rem;
  display: block;
}

.input-container {
  margin: 0 auto;
  margin-top: 200px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.search-input{
  width: 609px;
  height: 63px;
  border: 1px solid #F4F4F4;
  box-sizing: border-box;
  background: #222222;
  font-size: 18px;
  color: #ffffff;
  padding-left: 1rem;
}


.search-input::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-left: 0.5rem;
}

.input-buttons{
  width: 64px;
  height: 63px;
  background: #7E7E7E;
  margin-left: 0.7rem;
}

.active-button{
  background-color: #ffffff;
}

.input-buttons:hover{
  cursor: pointer;
}

.mx-1{
  margin: 0 0.7rem;
}

.as-end{
  align-self: end;
}
.position-relative{
  position: relative;
}
.suggestions-container{
  width: 609px;
  box-sizing: border-box;
  background: #434343;
  font-size: 18px;
  color: #ffffff;
  padding-left: 1rem;
  position: absolute;
  z-index: 5;
  padding: 0;
}

.suggestion-p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 1rem 0;
  padding-left: 1.5rem;
}

.suggestion-p:hover{
  cursor: pointer;
  background: #222222;
}

/* Detail Component */

.detail-container{
  color: white;
  width: 70%;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin: auto;
  margin-top: 8rem;
  flex-wrap: wrap;

}

.attributes-container{
  max-width: 700px;
}

.attributes-header{
  font-size: 40px;
  margin-bottom: 1rem;
}

.description-p{
  width: 90%;
  font-size: 20px;
  line-height: 2rem;
}

.series-stories-container{
  color: white;
  min-width: 47%;
  max-width: 55%;
  justify-content: space-around;
  display: flex;
  gap: 5rem;
  margin: auto;
  margin-top: 8rem;
  flex-wrap: wrap;
}